.time {
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
}

.time > h3 {
    font-size: 1.25rem;
    display: inline-block;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid black;
}